{
  "presets": [
    "@babel/env"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
    }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-react-jsx", { "pragma": "h", "pragmaFrag": "Fragment","throwIfNamespace":false }],
  ]
}

