listen: 8000
provider:
  type: "rpc"
  uri: "http://localhost:8545"
  #uri: "https://mainnet.vnode.app/v1/<YOUR TOKEN>"

apiKey: "CHANGEME"

invoices:
  minConfirmations: 1

public:
  contracts:
    DAI: 
      address: "0x6b175474e89094c44da98b954eedeac495271d0f" # Mainnet
      # address: "0xC4375B7De8af5a38a93548eb8453a498222C4fF2" DAI token on Kovan network
